.App {
  text-align: center;
}

.background{
  background-color:  #F7F8FA;
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

label{
  position : relative;
  text-align: left;
  left: -25%;
  
}
