.background {
  /* background-color:aliceblue; */
  background-color: red;
}
.header-container {
  margin: 2%;
  background-color: #ffffff;
  position: relative;
}
.info-card {
  padding: 0 5px;
}

.info-container {
  height: 120px;
  padding: 30px;
  border: 0px solid;
  border-radius: 10px;
  box-shadow: 0px 3px 12px #0000000f;
}
.bg-image {
  /* position:relative; */

  background-image: url('../../images/Group\ 5547.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.stream-list {
  width: 95%;
  margin: auto;
}

.table {
  width: 100%;
  border-collapse: separate;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 5px;
}

.table .header-row th {
  text-align: center;
  font: normal normal normal 13px/19px Gilroy-SemiBold;
  color: #888888;
  text-transform: uppercase;
  opacity: 1;
}

.table .data-row {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
}

.table .data-row td {
  text-align: center;
  padding: 10px;
}

.status span {
  background: #f2f9ff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  text-align: left;
  font: normal normal normal 16px/22px Gilroy-Medium;
  color: #222222;
  margin: 10px;
}

.to {
  font: normal normal normal 18px/26px Gilroy-Medium;
  letter-spacing: 0.36px;
  color: #11141a;
}

.value {
  font: normal normal normal 20px/29px Gilroy-SemiBold;
  letter-spacing: 0px;
  color: #11141a;
}

.value span {
  font: normal normal normal 14px/20px Gilroy-Medium;
  letter-spacing: 0.58px;
  color: #666666;
  text-transform: capitalize;
}

.time {
  font: normal normal normal 16px/22px Gilroy-Medium;
  letter-spacing: 0.32px;
  color: #666666;
  text-transform: capitalize;
}

.link a {
  border: 1px solid #2b8dff;
  border-radius: 6px;
  font: normal normal normal 16px/13px Gilroy-SemiBold;
  color: #2b8dff;
  text-decoration: none;
}
