.background{
 background-color:aliceblue;
}
.header-container{
  
  margin: 2%;
  background-color:#FFFFFF ;
  position: relative;
  }
  .info-card{
    padding: 0 5px;
}

.info-container{
    height: 120px;
    padding:30px;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px 3px 12px #0000000F;
}
.bg-image{
  /* position:relative; */
  
  background-image: url('../../images/Group\ 5547.svg');
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;

 
}